@{

    var m = ViewBag.message as Tuple<bool, string>;
}

<nav class="breadcrumb-nav">
    <div class="container">
        <ul class="breadcrumb">
            <li><a asp-controller="home" asp-action="index"><i class="d-icon-home"></i></a></li>
            <li>Contact Us</li>
        </ul>
    </div>
</nav>
<div class="page-content mt-10 pt-7  mb-10">
    <section class="contact-section">
        <div class="container">
            <div class="row d-flex justify-content-center">
                @if (m.Item1 == true)
                {
                    <div class="col-8 alert alert-danger text-white">
                        @m.Item2
                    </div>
                }
                else
                {
                    <div class="col-8 alert alert-success text-white">
                        @m.Item2
                    </div>
                }

            </div>
        </div>
    </section>
</div>
