@model Riode.WebUI.Models.Entities.FAQ

@{
    ViewData["Title"] = "Delete";
}


<div class="container">
    <h1>Delete</h1>
    <h5>Are you sure to delete this Faq?</h5>
    <hr />

    <div class="form-group row d-flex">
        <label class="col-sm-2">
            Question
        </label>
        <p class="form-control col-sm-10">
            @Model.Question
        </p>
    </div>
    <div class="form-group row d-flex">
        <label class="col-sm-2">
            Answer
        </label>
        <p class="textarea col-sm-10">
            @Model.Answer
        </p>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </form>
</div>
